#shop-items {
    display: grid;
    grid-template-columns: auto auto auto;
    height: auto;
}

.price {
    border: solid black;
    border-radius: 0.3em;
    display: inline-flex;
    justify-content: center;
    justify-self: center;
    width: 20%;
}

.price img {
    align-self: center;
    padding: 0em 0.5em;
}

.price-label {
    padding: 0.5em 0em;
    padding-right: 1em;
    margin: 0;
}

.fun-fact {
    position: fixed;
    right: 0px;
    bottom: 0px;
}

@media (orientation: portrait) {
    #shop-items {
        grid-template-columns: auto;
    }
}